-
  var titleMerge = (page.title != '') ? page.title + ' │ ' + data.meta.websiteName : data.meta.websiteName;
  var keywordsMerge = (page.keywords != '') ? page.keywords + ', ' + data.meta.keywords : metaKeywordsBase;
  var themeColor = '#111111';

meta(charset="utf-8")
title #{titleMerge}
meta(name="viewport", content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1")
link(rel="stylesheet" href="/sketch-threejs/css/main.css")
